.chat__container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Input With button */
.send__input-button {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-10);
}

.welcome__message {
  text-align: center;
}

.input__container {
  padding: var(--spacing-4);
  text-align: center;
}
