.container {
  width: 100%;
  margin-bottom: var(--spacing-24);
  padding: var(--spacing-12) var(--spacing-16);
  gap: var(--spacing-12);
  background: var(--cream-2);
  border: var(--border-default);
  border-radius: var(--radius-lg);
}

.right__container {
  gap: var(--spacing-16);
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  .right__container {
    justify-content: flex-end;
  }
}
